* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f2f3f4;
}

.header {
    background-color: #45545e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 30px;
}

.title {
    display: flex;
    align-items: center;
}

.moon {
    height: 35px;
    width: 40px;
}

.myAcc {
    width: 100px;
    height: 30px;
    background-color: #45545e;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.releases {
    margin: 30px 0 0 30px;
    color: gray;
    font-size: larger;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.poster {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background: center;
    background-size: cover;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    background: #f2f3f4;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.info {
    position: fixed;
    top: 75px;
    width: 100%;
    height: 100%;
    display: none;
    background: center;
    background-size: cover;
}

.innerInfo {
    width: 900px;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(4px);
}

.infoPoster {
    width: 300px;
    height: 350px;
    background: center;
    background-size: cover;
}

.innerInfoText {
    font-size: 16px;
    width: 500px;
}

.overview {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px 0;
    margin: 40px 0 0 0;
}

.vote {
    padding-right: 15px;
}

.rating {
    border-left: 1px solid white;
    padding: 0 15px;
}

.releaseDate {
    border-left: 1px solid white;
    padding: 0 15px;
}

.innerTitle {
    font-size: 24px;
    padding-bottom: 15px;
}

.buttonBack {
    color: white;
    cursor: pointer;
    margin: 30px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}
