* {
    font: bold 24px Arial, sans-serif;
    color: white; 
}

body {
    background-color: cornsilk;
}

#gallery {
    display: flex;
}

.imgDiv {
    display: flex;
    flex: 1;
    position: relative;
    padding: 10px;
}

img {
    border-radius: 5px;
    display: flex;
    flex: 10;
}

.active {
    width: 800px;
    height: 500px;
}

span {
    position: absolute;
    top: 450px;
    margin: 10px;
}    
