* {
    font: bold 16px Arial, sans-serif;
    color: white; 
}

body {
    background-color: cornsilk;
    width: 100%;
}

#gallery {
    display: flex;
}

.imgDiv {
    display: flex;
    position: relative;
    flex: 1;
    height: 500px;
    border-radius: 7px;
    margin: 5px;
    background: center;
    background-size: cover;
}

.active {
    transition: 1s;
    flex: 10;
}

span {
    position: absolute;
    top: 450px;
    margin: 10px;
}
